<div>
    <h2> Users </h2>
</div>

<div class="user-signup">
<p>User: {{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>How Did You Find Us?</p> 
</p>{{user.signupmessage }}</p>


<form action="/user/{{user._id}}?_method=DELETE" method="POST">

 <button class="btn btn-custom btn-sm" type="submit">Delete User</button>   
    
</form>

<a href="/resort/new?userid={{user._id}}" class="btn btn-custom btn-sm"> Book Now</a>

{{!-- <br >
<a href="/" class="btn btn-custom btn-sm"> Home </a> --}}